.overlay {
  @include hide-scroll;
  position: fixed;
  inset: 0;
  z-index: 20;
  display: none;
  flex-direction: column;
  padding: 0;
  overflow: scroll;
  background-color: transparentize($color-black, 0.5);
  backdrop-filter: blur(15px);
  &.show {
    display: flex;
  }
  @include desktop {
    padding: 10rem;
  }
}
