.overlay {
  @include hide-scroll;
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
  flex-direction: column;
  padding: 10rem;
  overflow: scroll;
  background-color: transparentize($color-black, 0.8);
  &.show {
    display: flex;
  }
}
