mixin b-bullet({ className, id })
  .b-bullet(class=className id=id)
    .b-bullet__card
      .b-bullet__card-backside
        img(class="b-bullet__mountains" src="./img/bullet/bg-snow.png" width="1360" height="262" alt="")
        img(class="b-bullet__field" src="./img/bullet/bullet-field.png" width="520" height="458" alt="")
      .b-bullet__content
        h2.b-bullet__title Голосование за&nbsp;самый эффектный буллит
        p.b-bullet__text Получи шанс выиграть брендированный мерч от&nbsp;FONBET
        .b-bullet__bottom
          .b-bullet__data
            +svg({ name: "lock", w: 10, h: 13 })
            span Откроется 8 февраля
