include /components/block/b-header
//- include /components/block/b-vote
include /components/button/btn-default

mixin b-hero({ isHeaderShow, link, className, id })
  include /data/section-data
  section.b-hero(class=className id=id)
    +b-header({ isShow: isHeaderShow, link: link })
    //- +b-vote({})
    .b-hero__star
      img(class="mobile" src="./img/hero/stars.svg" width="344" height="356" alt="")
      img(class="desktop" src="./img/hero/stars-desktop.svg" width="1354" height="407" alt="")
    .b-hero__circle
    .b-hero__title
      h1.visually-hidden ФОНБЕТ Неделя звезд КХЛ 2025
      .b-hero__skates
        img(src="./img/hero/hero-skates.svg" width="76" height="77" alt="")
      .b-hero__puck
        img(src="./img/hero/hero-hockey-puck.svg" width="140" height="110" alt="")
      .b-hero__stick
        img(src="./img/hero/hero-hockey-stick.svg" width="190" height="140" alt="")
      .b-hero__players
        img(src="./img/hero/hero-hockey-player.svg" width="283" height="253" alt="")
      .b-hero__title-logo
        +picture({ image: '/img/hero/logo-site.png', w: 343, h: 126 })
      .b-hero__vip
        +picture({ image: '/img/hero/vip.png', w: 122, h: 89 })
      .b-hero__ticket
        +svg({ name: "vip-ticket", w: 140, h: 118 })
      .b-hero__cards
        img(class="mobile" src="./img/hero/cards.png" width="211" height="156" alt="")
        +picture({ image: '/img/hero/cards-desktop.png', w: 482, h: 349, className: 'desktop' })
    .b-hero__date Стань Первой звездой – забери приз!
    //- .b-hero__btn
      //- +btn-default({ text: "Участвовать", className: "js-set-btn-game-auth" })
      //- a.btn-default.hero(href=sectionData.score.link) Идет подведение итогов
    p.b-hero__text ФОНБЕТ Неделя Звезд Хоккея 2025 пройдет в&nbsp;самом сердце России&nbsp;&mdash; в&nbsp;Новосибирске. Вступай в&nbsp;команду амбассадоров FONBET, покори Транссибирскую магистраль.
