mixin b-header({ isShow, link, className })
  header.b-header.js-header(class=(isShow && "show") class=className)
    a.b-header__logo(href=link target="_blank")
      +svg({ name: "logo", w: 126, h: 22 })
    //- .b-header__logo-add
    //-   img(src="./img/logo-khl.svg" width="40" height="40" alt="")
    .b-header__logo-add
      img(src="./img/logo-khl-jhl.svg" width="40" height="40" alt="")
    .b-header__overflay.js-header-dialog
      .b-header__dialog
        nav.b-header__nav.js-header-nav
          include /data/section-data
          each it, key in sectionData
            a.b-header__link(href=it.link)=it.name
        //- .b-header__btn Открытие регистрации: 16.01.25
        .b-header__bottom
          button.b-header__score.js-modal-score-show.js-header-score-wrp(hidden)
            +svg({ name: "star", w: 24, h: 24 })
            span.b-header__score-text.js-header-score-text
          .b-header__id.js-header-id-wrp(hidden)
            +svg({ name: "user", w: 24, h: 24 })
            span.js-header-id-text
          button.b-header__btn-login.js-modal-reg-show.js-header-login Войти
    button.b-header__burger.js-header-burger(aria-label="Открыть меню")
      span
