include /components/button/btn-default

mixin b-promo({ className, id })
  section.b-promo(class=className id=id)
    .b-promo__card
      .b-promo__card-bg
        +picture({ image: "/img/promo/promo.jpg", w: 343, h: 590, className: "mobile" })
        +picture({ image: "/img/promo/promo-desktop.jpg", w: 1368, h: 590, className: "desktop" })
      .b-promo__content
        h2.b-promo__title Сделай ставку
        p.b-promo__text И получи шанс выиграть приз
        .b-promo__btn
          +btn-default({ text: "Правила", className: "promo js-modal-rules-show" })
