include /elements/head
include /elements/images
include /elements/sprite
include /script/s-gtm-noscript
include /script/s-yametrika-noscript
include /script/s-pin

- let title = ""
- let description = ""

block data

doctype html
html(lang="ru")
  +head({ title, description })
  body
    +s-gtm-noscript({})
    +s-yametrika-noscript({})
    +s-pin({})
    block libjs
    +sprite({})
    block content
    block modal
    include /elements/script
