include /elements/head
include /elements/images

- let title = ""

block data

doctype html
html(lang="ru")
  +head({ title })
  body
    block libjs
    block content
    block modal
    include /elements/script
