mixin open-graph({})
  meta(property='og:title' content='{описание сайта}')
  meta(property='og:description' content='{описание страницы}')
  meta(property='og:image' content='{изображение для превью, не меньше 200х200}')
  meta(property='og:type' content='website')
  meta(property='og:url' content='{адрес сайта}')
  meta(property='og:locale' content='ru_RU')
