.g-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $color-gray-961;
  @include desktop {
    height: 540rem;
    max-width: 1080rem;
    margin: auto;
    border-radius: 14rem;
  }
}
.g-layout__close {
  position: absolute;
  top: 16rem;
  right: 16rem;
  z-index: 2;
  @include desktop {
    top: 10rem;
    right: 10rem;
  }
}
