.g-msg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $font-default;
  font-size: 16rem;
  line-height: 1.2;
  font-weight: 500;
  color: $color-gray-537;
  letter-spacing: -0.02em;
  background-color: $color-gray-961;
  &.first {
    .g-msg__stars {
      top: 209rem;
      right: -24rem;
    }
    .g-msg__person {
      max-height: 56%;
    }
    .g-msg__ribbon {
      bottom: 14rem;
      font-size: 16rem;
    }
  }
  &.second {
    .g-msg__person {
      max-height: 56%;
    }
    .g-msg__ribbon {
      bottom: 10rem;
      font-size: 16rem;
      line-height: 1.2;
    }
  }
  &.third {
    .g-msg__stars {
      top: 340rem;
      right: 96rem;
    }
    .g-msg__person {
      max-height: 52%;
    }
    .g-msg__ribbon {
      bottom: 10rem;
      font-size: 13rem;
      line-height: 1.2;
    }
  }
  &.fourth {
    .g-msg__stars {
      top: 209rem;
      right: -24rem;
    }
    .g-msg__person {
      max-height: 56%;
    }
    .g-msg__ribbon {
      left: 50%;
      // width: 267rem;
      width: max-content;
      transform: translateX(-50%) rotate(-5deg);
    }
  }
  &.fifth {
    .g-msg__stars {
      top: 190rem;
      right: -24rem;
    }
    .g-msg__person {
      max-height: 56%;
    }
    .g-msg__ribbon {
      bottom: 10rem;
      font-size: 15rem;
      line-height: 1.2;
    }
  }
  @include desktop {
    &.first {
      .g-msg__stars {
        top: 25rem;
        right: 303rem;
      }
      .g-msg__person {
        max-height: none;
      }
      .g-msg__ribbon {
        bottom: 15rem;
        font-size: 18rem;
      }
    }
    &.second {
      .g-msg__person {
        max-height: none;
      }
      .g-msg__ribbon {
        bottom: 15rem;
        font-size: 19rem;
      }
    }
    &.third {
      .g-msg__stars {
        top: 25rem;
        right: 303rem;
      }
      .g-msg__person {
        max-height: none;
      }
      .g-msg__ribbon {
        bottom: 15rem;
        font-size: 19rem;
      }
    }
    &.fourth {
      .g-msg__stars {
        top: 25rem;
        right: 303rem;
      }
      .g-msg__person {
        max-height: none;
      }
      .g-msg__ribbon {
        right: 110rem;
        bottom: 40rem;
        left: auto;
        transform: rotate(-5deg);
      }
    }
    &.fifth {
      .g-msg__stars {
        top: 25rem;
        right: 330rem;
      }
      .g-msg__person {
        max-height: none;
      }
      .g-msg__ribbon {
        bottom: 10rem;
        font-size: 16rem;
        line-height: 1.2;
      }
    }
    &.p-end {
      .g-msg__text {
        max-width: 384rem;
      }
    }
    &.p-first,
    &.p-second {
      .g-msg__text {
        max-width: 384rem;
      }
    }
    &.p-third {
      .g-msg__wrp {
        max-width: 560rem;
      }
    }
    &.p-fifth {
      .g-msg__wrp {
        max-width: 580rem;
      }
      .g-msg__text {
        max-width: 440rem;
      }
    }
  }
}
.g-msg__backside {
  position: absolute;
  inset: 0;
}
.g-msg__mountans {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 375rem;
  height: 350rem;
  opacity: 0.6;
  svg {
    width: 100%;
    height: 100%;
    fill: $color-white;
  }
  .desktop {
    display: none;
  }
  @include desktop {
    bottom: -135rem;
    left: -40rem;
    width: 1100rem;
    height: 460rem;
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
.g-msg__stars {
  position: absolute;
  top: 294rem;
  right: 86rem;
  width: 190rem;
  height: 90rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .desktop {
    display: none;
  }
  @include desktop {
    top: 25rem;
    right: 303rem;
    width: 214rem;
    height: 176rem;
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
.g-msg__stars-prediction {
  position: absolute;
  right: 52rem;
  bottom: 51%;
  // bottom: 48%;
  width: 87rem;
  height: 83rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .desktop {
    display: none;
  }
  @include desktop {
    top: 25rem;
    right: 303rem;
    width: 214rem;
    height: 176rem;
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
.g-msg__person {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 375rem;
  height: 482rem;
  max-height: 64%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right bottom;
  }
  .desktop {
    display: none;
  }
  @include desktop {
    width: 565rem;
    height: 535rem;
    max-height: none;
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
.g-msg__img-card {
  position: absolute;
  right: -81rem;
  bottom: 145rem;
  width: 415rem;
  height: 208rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include desktop {
    right: 32rem;
    bottom: 52rem;
    width: 605rem;
    height: 300rem;
  }
}
.g-msg__img-puck {
  position: absolute;
  right: -37rem;
  bottom: 70rem;
  width: 360rem;
  height: 291rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include desktop {
    right: 30rem;
    bottom: 78rem;
    width: 430rem;
    height: 348rem;
  }
}
.g-msg__img-goalie {
  position: absolute;
  right: -212rem;
  bottom: 72rem;
  width: 562rem;
  height: 252rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include desktop {
    right: -148rem;
    bottom: 9rem;
  }
}
.g-msg__img-field {
  position: absolute;
  right: -68rem;
  bottom: 85rem;
  width: 390rem;
  height: 252rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include desktop {
    right: -36rem;
    bottom: 124rem;
    width: 453rem;
    height: 293rem;
  }
}
.g-msg__img-equipment {
  position: absolute;
  right: -21rem;
  bottom: 83rem;
  width: 334rem;
  height: 283rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include desktop {
    right: 47rem;
    bottom: 0;
    width: 464rem;
    height: 394rem;
  }
}
.g-msg__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20rem 16rem;
  @include desktop {
    padding: 35rem 40rem 40rem 40rem;
  }
}
.g-msg__wrp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 310rem;
  @include desktop {
    max-width: 514rem;
  }
}
.g-msg__title {
  margin: 0;
  font-family: $font-default;
  font-size: 32rem;
  line-height: 1.1;
  font-weight: 700;
  color: $color-carmine-red-2;
  letter-spacing: 0;
  text-transform: uppercase;
  @include desktop {
    font-size: 60rem;
    line-height: 1;
  }
}
.g-msg__text {
  margin-top: 20rem;
  margin-bottom: 0;
  &.dark {
    font-weight: 700;
    color: $color-black;
  }
}
.g-msg__btn {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 20rem;
  @include desktop {
    margin-top: auto;
  }
}
.g-msg__ribbon {
  position: absolute;
  bottom: 28rem;
  left: 16rem;
  width: 340rem;
  padding: 15rem 20rem;
  font-size: 18rem;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  color: $color-white;
  background-color: $color-blue-degrees;
  border-radius: 10rem;
  box-shadow: 12rem 4rem 25rem transparentize($color-cadet-blue-crayola, 0.9);
  transform: rotate(-5deg);
  @include desktop {
    right: 35rem;
    bottom: 15rem;
    left: auto;
    width: 516rem;
    padding: 15rem 20rem;
    box-shadow: 0 4rem 25rem transparentize($color-cadet-blue-crayola, 0.9);
  }
}
.g-msg__result {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 20rem;
  font-size: 18rem;
  line-height: 1.1;
  font-weight: 500;
  color: $color-blue-degrees;
}
.g-msg__result-text {
  display: flex;
  align-items: center;
  gap: 6rem;
  svg {
    width: 22rem;
    height: 22rem;
    fill: $color-lavender;
  }
}
