.v-promo {
  position: relative;
  height: auto;
  // height: 812rem;
  height: 680rem;
  font-family: $font-default;
  font-size: 24rem;
  line-height: 1.1;
  font-weight: 500;
  text-align: left;
  color: $color-black;
  background-color: $color-gray-961;
  border-radius: 14rem;
  &.result {
    .v-promo__mountains {
      bottom: -280rem;
    }
    .v-promo__field {
      bottom: 40rem;
    }
  }
  @include desktop {
    height: 540rem;
    font-size: 32rem;
    &.result {
      .v-promo__mountains {
        bottom: -10rem;
      }
      .v-promo__field {
        bottom: 0;
      }
    }
  }
}
.v-promo__backside {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: 14rem;
}
.v-promo__mountains {
  position: absolute;
  bottom: -240rem;
  left: 0;
  width: 100%;
  height: 433rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }
  .desktop {
    display: none;
  }
  @include desktop {
    bottom: -10rem;
    height: 262rem;
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
.v-promo__field {
  position: absolute;
  right: -20rem;
  bottom: 110rem;
  width: 300rem;
  // height: 336rem;
  height: auto;
  @include desktop {
    position: absolute;
    right: -30rem;
    bottom: 0;
    width: 520rem;
    height: 458rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
  }
}
.v-promo__content {
  position: relative;
  height: 100%;
  padding: 20rem;
  @include desktop {
    display: flex;
    flex-direction: column;
    padding: 40rem;
  }
}
.v-promo__title {
  margin: 0;
  font-size: 32rem;
  line-height: 1.1;
  font-weight: 700;
  color: $color-carmine-red-2;
  text-transform: uppercase;
  @include desktop {
    width: 100%;
    max-width: 920rem;
    font-size: 60rem;
    line-height: 1;
  }
}
.v-promo__text {
  margin-top: 20rem;
  margin-bottom: 0;
  font-size: 16rem;
  line-height: 1.2;
  color: $color-gray-537;
  letter-spacing: -0.02em;
  @include desktop {
    width: 100%;
    max-width: 300rem;
  }
}
.v-promo__bottom {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  gap: 20rem;
  margin-top: 20rem;
  @include desktop {
    margin-top: auto;
  }
}
.v-promo__date {
  display: flex;
  align-items: center;
  gap: 6rem;
  font-size: 16rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  color: $color-gray-537;
  letter-spacing: -0.02em;
  svg {
    flex-shrink: 0;
    width: 10rem;
    height: 13rem;
    fill: currentcolor;
  }
}
.v-promo__winner {
  margin-top: 20rem;
}
.v-promo__person {
  width: max-content;
  max-width: 100%;
  padding: 20rem;
  overflow: hidden;
  font-family: $font-default;
  font-size: 16rem;
  line-height: 1.3;
  font-weight: 500;
  text-align: left;
  letter-spacing: -0.02em;
  background-color: $color-white;
  border-radius: 10rem;
  @include desktop {
    font-size: 24rem;
    line-height: 1.2;
  }
}
.v-promo__person-top {
  display: flex;
  align-items: center;
  gap: 15rem;
  margin-bottom: 10rem;
}
.v-promo__photo {
  flex-shrink: 0;
  justify-content: space-between;
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  border-radius: 10rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.v-promo__percent {
  flex-shrink: 0;
  text-align: right;
  white-space: nowrap;
  @include desktop {
    font-size: 20rem;
    line-height: 1.2;
    font-weight: 400;
  }
}
