.v-players {
  position: relative;
  height: 680rem;
  overflow: hidden;
  font-family: $font-default;
  font-size: 16rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: left;
  color: $color-gray-400;
  background-color: $color-gray-961;
  border-radius: 14rem;
  @include desktop {
    // height: 540rem;
    height: auto;
  }
}
.v-players__backside {
  position: absolute;
  inset: 0;
}
.v-players__mountains {
  position: absolute;
  bottom: -250rem;
  left: 0;
  width: 100%;
  height: 433rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }
  .desktop {
    display: none;
  }
  @include desktop {
    bottom: -110rem;
    height: 262rem;
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
.v-players__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30rem 16rem 0 16rem;
  overflow: hidden;
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60rem 10rem 23rem 10rem;
  }
}
.v-players__title {
  margin: 0;
  font-family: inherit;
  font-size: 22rem;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  color: $color-black;
  @include desktop {
    width: 100%;
    max-width: 480rem;
    margin: 0 auto;
    padding: 0;
    font-size: 28rem;
  }
}
.v-players__text {
  margin-top: 20rem;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: -0.02em;
  @include desktop {
    margin-top: 16rem;
    padding: 0;
  }
}
.v-players__wrp {
  flex-grow: 1;
  margin-top: 20rem;
  overflow-y: scroll;
  @include desktop {
    overflow: auto;
  }
}
.v-players__list {
  display: grid;
  gap: 6rem;
  padding-bottom: 92rem;
  @include desktop {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 16rem 6rem;
    padding-bottom: 0;
  }
}
.v-players__btn-wrp {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: grid;
  place-items: center;
  width: 100%;
  height: 92rem;
  background-image: linear-gradient(
    180deg,
    transparent 0%,
    $color-gray-961 100%
  );
  @include desktop {
    position: static;
    height: auto;
    margin-top: 20rem;
    background-image: none;
  }
}
