-
  let hockeyPlayerList = {
    regular: [
      { id: "35353", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Аймурзин Данил", nameen: "Aimurzin Danil" },
      { id: "20700", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Белозёров Андрей Ал.", nameen: "Belozyorov Andrei Al." },
      { id: "19222", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Костин Денис", nameen: "Kostin Denis" },
      { id: "39102", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Бучельников Дмитрий", nameen: "Buchelnikov Dmitry" },
      { id: "39158", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Буше Рид", nameen: "Boucher Reid" },
      { id: "17566", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Гальченюк Александр", nameen: "Galchenyuk Alexander" },
      { id: "18984", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Гернат Мартин", nameen: "Gernat Martin" },
      { id: "18547", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Голдобин Николай", nameen: "Goldobin Nikolai" },
      { id: "16006", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Гусев Никита", nameen: "Gusev Nikita" },
      { id: "29928", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Гутик Даниил", nameen: "Gutik Daniil" },
      { id: "22668", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Да Коста Стефан", nameen: "Da Costa Stephane" },
      { id: "40667", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Демидов Иван", nameen: "Demidov Ivan" },
      { id: "27608", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Исхаков Руслан", nameen: "Iskhakov Ruslan" },
      { id: "16696", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Кадейкин Александр", nameen: "Kadeikin Alexander" },
      { id: "20226", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Каменев Владислав", nameen: "Kamenev Vladislav" },
      { id: "35740", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Конюшков Богдан", nameen: "Konyushkov Bogdan" },
      { id: "43403", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Ливо Джошуа", nameen: "Leivo Joshua" },
      { id: "20521", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Лямкин Никита", nameen: "Lyamkin Nikita" },
      { id: "34733", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Мёрфи Тревор", nameen: "Murphy Trevor" },
      { id: "26742", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Морозов Иван Д.", nameen: "Morozov Ivan D." },
      { id: "32303", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Никишин Александр", nameen: "Nikishin Alexander" },
      { id: "16010", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Ожиганов Игорь", nameen: "Ozhiganov Igor" },
      { id: "19258", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Порядин Павел", nameen: "Poryadin Pavel" },
      { id: "27708", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Силантьев Дмитрий", nameen: "Silantyev Dmitry" },
      { id: "23464", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Хафизов Тимур", nameen: "Khafizov Timur" },
      { id: "41952", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Хмелевский Александр", nameen: "Chmelevski Alexander" },
      { id: "30162", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Чистяков Семён", nameen: "Chistyakov Semyon" },
      { id: "26327", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Шабанов Максим В.", nameen: "Shabanov Maxim V." },
      { id: "14466", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Шипачёв Вадим", nameen: "Shipachyov Vadim" },
      { id: "524",   teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Широков Сергей", nameen: "Shirokov Sergei" },
      { id: "43033", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Энэс Сэм", nameen: "Anas Sam" },
      { id: "15661", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Яковлев Егор К.", nameen: "Yakovlev Yegor K." },
      { id: "16657", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Яшкин Дмитрий", nameen: "Jaskin Dmitrij" },
    ],
    goalie: [
      { id: "19029", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Бочаров Иван", nameen: "Bocharov Ivan" },
      { id: "28244", teamname: "Див. Чернышёва", teamnameen: "Chernyshev", name: "Бояркин Никита", nameen: "Boyarkin Nikita" },
      { id: "23467", teamname: "Див. Боброва", teamnameen: "Bobrov", name: "Дорожко Максим", nameen: "Dorozhko Maxim" },
      { id: "20532", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Подъяпольский Владислав", nameen: "Podyapolsky Vladislav" },
      { id: "34829", teamname: "Див. Тарасова", teamnameen: "Tarasov", name: "Смит Джереми", nameen: "Smith Jeremy" },
      { id: "20693", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Трушков Александр А.", nameen: "Trushkov Alexander A." },
      { id: "42970", teamname: "Див. Харламова", teamnameen: "Kharlamov", name: "Фукале Зак", nameen: "Fucale Zach" },
    ]
  }
