-
  let sectionData = {
    //- games: {
    //-   name: "Игры",
    //-   link: "#games",
    //-   id: "games"
    //- },
    //- ambassadors: {
    //-   name: "Амбассадоры",
    //-   link: "#ambassadors",
    //-   id: "ambassadors"
    //- },
    prizes: {
      name: "Призы",
      link: "#prizes",
      id: "prizes"
    },
    about: {
      name: "О мероприятии",
      link: "#about",
      id: "about"
    },
  }
