-
  let sectionData = {
    //- games: {
    //-   name: "Игры",
    //-   link: "#games",
    //-   id: "games"
    //- },
    //- ambassadors: {
    //-   name: "Амбассадоры",
    //-   link: "#ambassadors",
    //-   id: "ambassadors"
    //- },
    score: {
      name: "Победители",
      link: "#score",
      id: "score"
    },
    prizes: {
      name: "Призы",
      link: "#prizes",
      id: "prizes"
    },
    predictions: {
      name: "Прогнозы",
      link: "#predictions",
      id: "predictions"
    },
    //- about: {
    //-   name: "О мероприятии",
    //-   link: "#about",
    //-   id: "about"
    //- },
  }
