-
  let sectionData = {
    games: {
      name: "Игры",
      link: "#games",
      id: "games"
    },
    ambassadors: {
      name: "Амбассадоры",
      link: "#ambassadors",
      id: "ambassadors"
    },
    about: {
      name: "О мероприятии",
      link: "#about",
      id: "about"
    },
  }
