include /components/button/btn-close

mixin m-score({ isShow, className })
  .overlay.js-modal-score(class=isShow && "show" class=className)
    .m-score
      .m-score__close
        +btn-close({ className: "js-m-close" })
      .m-score__content
        .m-score__promo
          .m-score__promo-bg
            +picture({ image: "/img/score/score-bg.jpg", w: 343, h: 210, className: "mobile" })
            +picture({ image: "/img/score/score-bg-desktop", w: 780, h: 200, className: "desktop" })
          .m-score__promo-wrp
            .m-score__promo-title Сделай ставку от&nbsp;300&nbsp;₽ на&nbsp;любое событие и&nbsp;получи шанс выиграть один из&nbsp;призов. После 27&nbsp;января мы&nbsp;проверим наличие квалификационной ставки и&nbsp;объявим победителей
            .m-score__promo-bottom
              a.m-score__promo-btn(href="https://fon.bet/sports/tournament/776") Сделать ставку
              button.m-score__promo-link.js-modal-rules-show Правила
        .m-score__table
          .m-score__head
            div ID
            div Звезды
        .js-modal-score-body
          //- .m-score__row
          //-   div 1
          //-   div *2852
          //-   div
          //-   div
          //-   div 1934602
          //- .m-score__row
          //-   div 2
          //-   div *2746
          //-   div
          //-   div
          //-   div 1934602
          //- .m-score__row
          //-   div 3
          //-   div *2746
          //-   div
          //-   div
          //-   div 1934602
          //- .m-score__row
          //-   div 4
          //-   div *3281
          //-   div
          //-   div
          //-   div 1934602
          //- .m-score__row
            div 5
            div *2346
            div
            div
            div 1934602
        .m-score__line
        .js-modal-score-self.blue
          .m-score__row.blue
            //- div 22
            //- div *5237
            //- div Это ты
            //- div
            //- div 5637
