include /components/button/btn-default
include /components/card/c-vote

mixin v-players({ className, id, isHidden })
  .v-players(class=className id=id hidden=isHidden)
    .v-players__backside
      //- .v-players__mountains
        img(class="mobile" src="./img/bullet/bg-snow-mobile.png" width="343" height="433" alt="")
        img(class="desktop" src="./img/bullet/bg-snow.png" width="1360" height="262" alt="")
    .v-players__content
      h2.v-players__title Какой буллит был самым эффектным, по&nbsp;твоему мнению?
      p.v-players__text Выбрать можно только один вариант
      .v-players__wrp
        .v-players__list.js-vote-players
          //- +c-vote({ order: 1 })
      .v-players__btn-wrp
        +btn-default({
          text: "Выбрать",
          isDisabled: true,
          className: "js-vote-btn-select"
        })
