.f-seclect {
  position: relative;
  select {
    display: block;
    width: 100%;
    padding: 19rem 16rem;
    font-size: 16rem;
    line-height: 18rem;
    font-weight: 500;
    color: $color-gray-537;
    border: 1rem solid transparent;
    border-radius: 10rem;
    outline: none;
    appearance: none;
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      box-shadow: $shadow-card;
      cursor: pointer;
    }
    &.selected {
      color: $color-black;
    }
  }
  @include desktop {
    select {
      padding: 19rem 19rem;
    }
  }
}
