extends /elements/layout-page
include /script/s-gtm-noscript
include /script/s-yametrika-noscript
include /script/s-pin
include /components/block/b-hero
include /components/block/b-stars
include /components/block/b-prizes
include /components/block/b-ambassadors
include /components/block/b-promo
include /components/block/b-week-star
include /components/block/b-predictions
include /components/block/b-footer
include /components/modal/m-rules


block data
  - title = "FONBET: Звездный путь"
  - logoLink = "https://fon.bet/"

block libjs
  +s-gtm-noscript({})
  +s-yametrika-noscript({})
  //- +s-pin({})

block content
  include /data/section-data
  +b-hero({ isHeaderShow: false, link: logoLink })
  +b-prizes({})
  +b-stars({ id: sectionData.games.id })
  +b-ambassadors({ id: sectionData.ambassadors.id })
  +b-promo({})
  +b-week-star({ id: sectionData.about.id })
  +b-predictions({})
  +b-footer({ link: logoLink })

block modal
  //- +m-rules({ isShow: false })
