extends /elements/layout-page
include /components/block/b-hero
include /components/block/b-stars
include /components/block/b-prizes
include /components/block/b-ambassadors
include /components/block/b-promo
include /components/block/b-week-star
include /components/block/b-predictions
include /components/block/b-bingo
include /components/block/b-test
include /components/block/b-footer
include /components/game/g-first
include /components/modal/m-auth
include /components/modal/m-set
include /components/modal/m-rules
include /components/modal/m-score
include /components/modal/m-close


block data
  - title = "FONBET: Звездный путь"
  - logoLink = "https://fon.bet/"
  - betLink = "https://fon.bet/sports/tournament/776"

block libjs
  script(src="https://origin.bk6bba-resources.com/webStaticRed/promo/lands/scripts/marked.min.js")

block content
  include /data/section-data
  +b-hero({ isHeaderShow: false, link: logoLink })
  +b-prizes({})
  +b-stars({ id: sectionData.games.id })
  +b-ambassadors({ id: sectionData.ambassadors.id })
  +b-promo({})
  +b-week-star({ id: sectionData.about.id })
  +b-predictions({})
  +b-bingo({})
  +b-test({ isHidden: true })
  +b-footer({ link: logoLink })

block modal
  //- game
  +g-first({ isShow: false })

  //- modal
  +m-auth({ isShow: false })
  +m-set({ isShow: false })
  +m-score({ isShow: false })
  +m-rules({ isShow: false })
  +m-close({ isShow: false })
