extends /elements/layout-page
include /components/block/b-hero
include /components/block/b-winners
include /components/block/b-arrived
include /components/block/b-stars
include /components/block/b-prizes
include /components/block/b-ambassadors
include /components/block/b-promo
include /components/block/b-week-star
include /components/block/b-predictions
include /components/block/b-bingo
include /components/block/b-test
include /components/block/b-footer
include /components/block/b-vote-promo

//- include /components/game/g-first
//- include /components/game/g-second
//- include /components/game/g-third
//- include /components/game/g-fourth
//- include /components/game/g-fifth

include /components/prediction/p-first
include /components/prediction/p-second
include /components/prediction/p-third
include /components/prediction/p-fourth
include /components/prediction/p-fifth

include /components/game/g-bingo

include /components/modal/m-auth
include /components/modal/m-set
include /components/modal/m-soon
include /components/modal/m-rules
include /components/modal/m-score
include /components/modal/m-close
include /components/modal/m-video


block data
  - title = "Неделя звезд КХЛ 2025, матч всех звезд в Новосибирске"
  - description = "Участвуй в акции Фонбет Неделя звезд КХЛ 2025! Сделай прогноз в приложении на матч всех звезд КХЛ в Новосибирске. Победителей ждут призы, а также возможность выиграть фрибет до 50 000 рублей!"
  - logoLink = "https://fon.bet/"
  - betLink = "https://fon.bet/sports/tournament/776"

block libjs
  script(src="https://origin.bk6bba-resources.com/webStaticRed/promo/lands/scripts/marked.min.js")

block content
  include /data/section-data
  +b-hero({ isHeaderShow: false, link: logoLink })
  +b-winners({ id: sectionData.score.id })
  //- +b-arrived({})
  +b-prizes({ id: sectionData.prizes.id })
  //- +b-stars({ id: sectionData.games.id })
  //- +b-ambassadors({ id: sectionData.ambassadors.id })
  +b-promo({})
  //- +b-week-star({ id: sectionData.about.id })
  +b-predictions({ id: sectionData.predictions.id })
  +b-vote-promo({})
  +b-bingo({})
  //- +b-test({ isHidden: true })
  +b-footer({ link: logoLink })

block modal
  //- game
  //- +g-first({ isShow: false })
  //- +g-second({ isShow: false })
  //- +g-third({ isShow: false })
  //- +g-fourth({ isShow: false })
  //- +g-fifth({ isShow: false })

  //- prediction
  +p-first({ isShow: false })
  +p-second({ isShow: false })
  +p-third({ isShow: false })
  +p-fourth({ isShow: false })
  +p-fifth({ isShow: false })

  //- bingo
  +g-bingo({ isShow: false })

  //- modal
  +m-auth({ isShow: false })
  +m-set({ isShow: false })
  +m-soon({ isShow: false })
  +m-score({ isShow: false })
  +m-rules({ isShow: false })
  +m-close({ isShow: false })
  +m-video({ isShow: false })
