include /components/button/btn-default

mixin g-first-msg({ isShow, className })
  .g-msg(class=isShow && "show" class=className)
    .g-msg__backside
      .g-msg__person.js-msg-ambasador(data-person="ovechkin" hidden)
        +picture({ image: "/img/game/ovechkin@2x.png", w: 375, h: 482, className: "mobile" })
        +picture({ image: "/img/game/ovechkin-desktop@2x.png", w: 565, h: 535, className: "desktop" })
      .g-msg__person.js-msg-ambasador(data-person="medvedeva" hidden)
        +picture({ image: "/img/game/medvedeva@2x.png", w: 375, h: 482, className: "mobile" })
        +picture({ image: "/img/game/medvedeva-desktop@2x.png", w: 565, h: 535, className: "desktop" })
      .g-msg__person.js-msg-ambasador(data-person="korney" hidden)
        +picture({ image: "/img/game/korney@2x.png", w: 375, h: 482, className: "mobile" })
        +picture({ image: "/img/game/korney-desktop@2x.png", w: 565, h: 535, className: "desktop" })
      .g-msg__person.js-msg-ambasador(data-person="ed" hidden)
        +picture({ image: "/img/game/ed@2x.png", w: 375, h: 482, className: "mobile" })
        +picture({ image: "/img/game/ed-desktop@2x.png", w: 565, h: 535, className: "desktop" })
      .g-msg__person.js-msg-ambasador(data-person="akinfeev" hidden)
        +picture({ image: "/img/game/akinfeev@2x.png", w: 375, h: 482, className: "mobile" })
        +picture({ image: "/img/game/akinfeev-desktop@2x.png", w: 565, h: 535, className: "desktop" })
    .g-msg__content
      .g-msg__wrp
        h2.g-msg__title Начало пути
        p.g-msg__text Ну&nbsp;что, ты&nbsp;выбрал, с&nbsp;кем отправишься на&nbsp;ФОНБЕТ Неделю Звезд Хоккея. Теперь пора выяснить, как хорошо ты&nbsp;знаешь своего попутчика!
        p.g-msg__text За&nbsp;каждый правильный ответ ты&nbsp;получишь 100&nbsp;звезд, время ограничено. В&nbsp;путь!
        .g-msg__btn
          +btn-default({ text: "Начать игру" })
      p.g-msg__ribbon Транссиб&nbsp;&mdash; это не&nbsp;шутка: впереди долгая дорога и&nbsp;4&nbsp;станции. Хорошо, что вместе с&nbsp;тобой на&nbsp;ФОНБЕТ Неделю Звезд Хоккея в&nbsp;Новосибирск еду&nbsp;я!

mixin g-first({ isShow, className })
  .overlay(class=isShow && "show" class=className)
    .g-layout
      .g-layout__close
        +btn-close({ className: "js-m-close" })
      +g-first-msg({})
