$color-gray-965: #f6f6f6; // hsl(0, 0%, 96.5%)
$color-gray-212: #363636; // hsl(0, 0%, 21.2%)

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #2750d3;
$color-yellow: #ffd00e;
$color-red: #fe0000;
