// fonts
$font-default: "Cera Pro", sans-serif;
$font-title: "DIN Condensed", sans-serif;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// container
$container-max: 1920px;
$container-min: 375px;

// breakpoints
$desktop: 1024px;

// padding
$padding: 16rem;
$padding-desktop: 36rem;
