.btn-default {
  @include transition(background-color, color);
  display: block;
  flex-shrink: 0;
  width: max-content;
  max-width: 100%;
  margin: 0;
  padding: 11rem 34rem;
  font-family: $font-default;
  font-size: 16rem;
  line-height: 20rem;
  font-weight: 500;
  text-align: center;
  color: $color-white;
  letter-spacing: -0.02em;
  background-color: $color-carmine-red-2;
  border: 0;
  border: 1rem solid transparent;
  border-radius: 10rem;
  &:not([disabled]):hover,
  &:not([disabled]):focus-visible {
    background-color: $color-ruby-red;
  }
  &[disabled] {
    background-color: $color-gray-537;
  }
  &.msg {
    min-width: 134rem;
    padding: 11rem;
  }
  &.white {
    min-width: none;
    color: $color-carmine-red-2;
    background-color: $color-white;
    border-color: $color-carmine-red-2;
    &:hover,
    &:focus-visible {
      background-color: $color-gray-925;
    }
  }
  &.hero {
    min-width: none;
    color: $color-blue-degrees;
    background-color: $color-white;
    border-color: $color-white;
    &:hover,
    &:focus-visible {
      background-color: $color-gray-925;
    }
  }
  &.promo,
  &.bingo {
    width: 100%;
    color: $color-black;
    background-color: $color-white;
    &[disabled] {
      color: transparentize($color-black, 0.5);
    }
    &:not([disabled]):hover,
    &:not([disabled]):focus-visible {
      background-color: $color-gray-925;
    }
  }
  &.test {
    width: 100%;
  }
  &.arrived,
  &.prediction {
    width: 100%;
  }
  &.soon {
    padding-right: 16rem;
    padding-left: 16rem;
  }
  &.set {
    width: 100%;
    padding: 19rem 34rem;
  }
  &.winners {
    padding-right: 14rem;
    padding-left: 14rem;
  }
  @include desktop {
    &.promo,
    &.bingo {
      max-width: 100%;
    }
    &.arrived,
    &.prediction {
      width: max-content;
    }
  }
}
